.form{
  /* display: flex;
  margin-bottom: 1.5rem; */
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.inputContainer{
  position: relative;
  width: 100%;
}
.field {
  border-radius: 7px;
  margin-right: 3rem;
  width: 272px;
  height: 40px;
  padding-left: 1rem;
  padding-right: 2.3rem;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  margin-right: .5rem;
  box-sizing: border-box;
  transition: border 0.3s ease;
  outline: none;
}
.searchButton{
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.search-button .fa-search {
  color: #a51c1c;
  font-size: 20px;
}